<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <div class="container">
        <div id="logged-out-container">
            <header id="header-logged-out">
                <h1>You have successfully logged out</h1>
                <p>Thank you for using our app!</p>
            </header>
            
            <div id="logged-out-buttons">
                <a href="/" id="go-home-btn" class="button">Go to Home</a>
                <a href="/users/login" id="login-again-btn" class="button">Login Again</a>
            </div>
            
        </div>
    </div>
</body>
</html>
