<!doctype html>
<html>
  <head>
    <title>Register for <%=shopData.shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <header>
      <h1 class="header-title">Register for <%=shopData.shopName%></h1>
    </header>
    <main class="container">
      <form class="form" method="POST" action="registered">
        <p>
          <label for="first">First name:</label>
          <input id="first" type="text" name="first" class="form-input" />
        </p>
        <p>
          <label for="last">Last name:</label>
          <input id="last" type="text" name="last" class="form-input" />
        </p>
        <p>
          <label for="email">Email:</label>
          <input id="email" type="text" name="email" class="form-input" />
        </p>
        <p>
          <label for="username">Username:</label>
          <input id="username" type="text" name="username" class="form-input" />
        </p>
        <p>
          <label for="password">Password:</label>
          <input id="password" type="password" name="password" class="form-input" />
        </p>
        <input type="submit" value="Register" class="button" />
      </form>
    </main>
    <footer>
      <p>&copy; 2024 <%=shopData.shopName%>. All rights reserved.</p>
    </footer>
  </body>
</html>
